@use "sass:color";
@use 'apprise-ui/common.scss';


.query-panel {

    width: 100%;

    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .pills-selected {

        margin-top: 15px;

        display: flex;
        justify-content: center;

        flex-wrap: wrap;

    }


    .pills-btns {

        margin-top: 6px;

        display: flex;
        justify-content: center;
        flex-wrap: wrap;

    }

    .tab-btns {

        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        padding-bottom: 4px;
        border-bottom: 1px solid common.$text-color-selected;
    
        .pill-tab-selected {

            background-color: common.$app-color !important;
        
             * {
                color: white !important;
            }
        }

         

        .query-pill-tab-btn {

            line-height: 0px;          


            border-radius: 4px;
            background-color: common.$text-color-selected;
            padding: 0px 6px;
            height: 14px;
        

            * {
                color: common.$text-color-lighter;
                font-variant: small-caps;
                font-size: 10px;
                height: 14px;

            }

            + .query-pill-tab-btn {

                margin-left: 10px;
            }

        }

  
    }


    .form-controls {

        margin-top: 10px;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;

        .apprise-button {
            width: 22px;
            height: 22px;
            display: flex;
            align-items: center;
            justify-content: center;

            background-color: white;

            border: 1px solid common.$text-color-tinted;
            border-radius: 50%;
            
        }

        .apprise-button+.apprise-button {

            margin-left: 6px;
        }


        .run-btn {

            margin-right: 5px;
            margin-left: 10px !important;
            width: 28px;
            height: 28px;
            background-color: common.$success-color;

            &:hover {
                background-color: color.adjust(common.$success-color, $lightness: 5%);
            }


            svg {
                color: white
            }

            &.btn-highlight {

                box-shadow: 0 0 8px 1px #5f9ea0;

            }
        }


    }

    .query-pill-selected {

        + .query-pill-selected {
            margin-left: 10px;
        }

        margin-bottom: 5px;

        .apprise-field {


            .field-main-lbl {
                background-color: common.$text-color-tinted;
                color: common.$app-color;
                padding: 0px 8px;
                margin: 0px;
                height: 32px;
                border: 1px solid common.$text-color-frame;
                border-top-left-radius: 2px;
                border-bottom-left-radius: 2px;
                font-variant: small-caps;
                text-transform: lowercase;
            }

            .ant-input {

                border-radius: 0px;
                border-left: none;
            }
        }

    }

    .query-pill-selected-close {

        height: 32px;

        padding: 0px 3px;

        border: 1px solid common.$text-color-frame;
        border-left: none;

        button:not(:hover) {
            color: common.$text-color-lighter;
        }

        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;


    }

    .query-pill-btn {

        * {
            font-variant: small-caps;
            font-size: 13px;
        }

        &.apprise-button {

            svg {
                visibility: hidden;
            }

            &:not(:hover) {

                button {
                    color: common.$text-color-lighter;
                }
            }

            &.apprise-disabled {
                button {
                    color: common.$text-color-lightest;
                }
            }

            &:hover:not(.apprise-disabled) {

                svg {
                    visibility: visible;
                }
            }
        }

        +.query-pill-btn {

            margin-left: 15px;
        }
    }
}