@use "apprise-ui/common.scss";

.boundedfield {


    display: flex;

    .apprise-textbox {
        flex-grow: 1;
    }

    .apprise-selectbox {

        .label-title {
            font-variant: small-caps;
            text-transform: lowercase;
        }

        .ant-select-selector {
            background: common.$text-color-tinted;
            color: common.$app-color;

        }
        
    }


    .prefix {

        margin-right: 3px;
        padding-top: 2px;
        color: common.$app-color;
        font-variant: small-caps;
        text-transform: lowercase;
        font-size: smaller;

    }


}



