@use 'apprise-ui/common.scss';


.saved-searches {

    height: 100%;

    margin-bottom: 10px;


    .search-action {

        visibility: hidden;

    }

    tr:hover {

        .search-action {

            visibility: visible;

            &:hover {

                filter: brightness(1.2);
            }
        }


    }
}