@use 'apprise-ui/common.scss';


.search-history {

    height: 100%;

    .history-save {

        display: none;

    }

    tr:hover {

        .history-save {

            display: inherit;
        }

        .history-count {

            display: none;
        }


    }
}