@use 'apprise-ui/common.scss';

.search-panel {

    height: 100%;
    
    display: flex;
    flex-direction: column;

    .query-panel {

        border-radius: 8px;
    }

    .result-table {

        margin-top: 10px;

        border-radius: 8px;
    }
}